/Makefile.work
/VERSION
/build
/build-*
/config-cache
/config-tools
/src
/test-logs/*
!/test-logs/empty.json
/test-logs-*
/test-report.md
/.specitems
/tools
/tools-dist
/wip
/work*
doc
/*.ini
.lock*
*.pyc
.waf*
