#
#  Config file for a PowerPC MPC860-based TQM8xx carrier board.
#

#
#  All TQM8xx configurations share the same base file, only a few
#  parameters differ.
#  

include $(RTEMS_ROOT)/make/custom/tqm8xx.inc
