#
#  Config file for LPC22xx board in Thumb mode
#

#  This contains the compiler options necessary to select the CPU model
#  and (hopefully) optimize for it. 
#

include $(RTEMS_ROOT)/make/custom/rtl22xx.cfg

CPU_CFLAGS += -mthumb

CFLAGS_OPTIMIZE_V += -ffunction-sections -fdata-sections

LDFLAGS = -Wl,--gc-sections
