#
#  Build information which may change
#
#  $Id$
#

RTEMS_VERSION=199911116
#DOC_INSTALL_BASE=/usr1/rtems/tmp/rtemsdoc-$(RTEMS_VERSION)
DOC_INSTALL_BASE=/home/httpd/html/rtems/rtemsdoc-$(RTEMS_VERSION)
# DOC_INSTALL_BASE=/home/httpd/html/rtems/doc/rtems

SRCDIR=/usr1/rtems/rtemsdoc-work

BMENU=$(SRCDIR)/tools/bmenu/bmenu
PDL2TEXI=$(SRCDIR)/tools/pdl2texi/pdl2texi

SRC2HTML=$(SRCDIR)/tools/src2html/src2html
#TEXI2DVI=$(SRCDIR)/tools/texi2www/texi2dvi
TEXI2DVI=texi2dvi
TEXI2PDF=texi2pdf
TEXI2WWW=$(SRCDIR)/tools/texi2www/texi2www
MAKEINFO=makeinfo
INFO=info
XDVI=xdvi -s 4
GHOSTVIEW=ghostview -magstep -1

# Account for tree organization which restricts visibility
#ifeq ($(DISTRIBUTION_LEVEL),public)
RLEVEL=
WWW_INSTALL=$(DOC_INSTALL_BASE)/html
INFO_INSTALL=$(DOC_INSTALL_BASE)/info
INDEX_FILE=../$(RLEVEL)index.html
#else
#RLEVEL=../
#WWW_INSTALL=$(DOC_INSTALL_BASE)/html/$(DISTRIBUTION_LEVEL)
#INFO_INSTALL=$(DOC_INSTALL_BASE)/info/$(DISTRIBUTION_LEVEL)
#INDEX_FILE=../$(RLEVEL)rtems_full.html
#endif

#TEXI2WWW_ARGS=-dirfile $(WWW_INSTALL)/index.html \
#          -header $(WWW_INSTALL)/rtems_header.html \
#          -footer $(WWW_INSTALL)/rtems_footer.html
TEXI2WWW_ARGS=-dirfile $(INDEX_FILE) \
          -header $(WWW_INSTALL)/$(RLEVEL)rtems_header.html \
          -footer $(WWW_INSTALL)/$(RLEVEL)rtems_footer.html \
          -icons  $(RLEVEL)..


define make-dirs
	@ if [ ! -d $(WWW_INSTALL) ] ; then \
	    mkdir -p $(WWW_INSTALL); \
	  fi
	@ if [ ! -d $(INFO_INSTALL) ] ; then \
	    mkdir -p $(INFO_INSTALL); \
	  fi
	@ - cp $(SRCDIR)/oaronly.jpg $(WWW_INSTALL)
	@ - sed -e 's/RTEMS_VERSION/$(RTEMS_VERSION)/' \
	    <$(SRCDIR)/rtems_footer.html >$(DOC_INSTALL_BASE)/html/rtems_footer.html
	@ - cp $(SRCDIR)/HELP.html $(DOC_INSTALL_BASE)/html
	@ - cp $(SRCDIR)/common/*.gif $(DOC_INSTALL_BASE)/html
	@ - cp $(SRCDIR)/tools/texi2www/*.gif $(DOC_INSTALL_BASE)/html
	@ - cp $(SRCDIR)/common/*.jpg $(DOC_INSTALL_BASE)/html
endef

