#
#  Build information which may change
#
#  $Id$
#

TEXI2DVI=/usr1/tmp/texi2www-960103/texi2dvi
TEXI2WWW=/usr1/tmp/texi2www-960103/texi2www
MAKEINFO=makeinfo
INFO=info
XDVI=xdvi -s 4
GHOSTVIEW=ghostview -magstep -1

DOC_INSTALL_BASE=/usr1/tmp/rtemsdoc-970904

WWW_INSTALL=$(DOC_INSTALL_BASE)/html
INFO_INSTALL=$(DOC_INSTALL_BASE)/info
PS_INSTALL=$(DOC_INSTALL_BASE)/ps

TEXI2WWW_ARGS=-dirfile ../rtems.html \
          -header ../rtems_header.html \
          -footer ../rtems_footer.html

