#
#  Build information which may change
#
#  $Id$
#

RTEMS_VERSION=4.0.0-beta1
DOC_INSTALL_BASE=/usr1/tmp/rtemsdoc-$(RTEMS_VERSION)

SRCDIR=/usr1/rtems/rtemsdoc-work

BMENU=$(SRCDIR)/tools/bmenu/bmenu
PDL2TEXI=$(SRCDIR)/tools/pdl2texi/pdl2texi

TEXI2DVI=/usr1/tmp/texi2www-960103/texi2dvi
TEXI2WWW=/usr1/tmp/texi2www-960103/texi2www
MAKEINFO=makeinfo
INFO=info
XDVI=xdvi -s 4
GHOSTVIEW=ghostview -magstep -1

# Account for tree organization which restricts visibility
ifeq ($(DISTRIBUTION_LEVEL),public)
RLEVEL=
WWW_INSTALL=$(DOC_INSTALL_BASE)/html
INFO_INSTALL=$(DOC_INSTALL_BASE)/info
PS_INSTALL=$(DOC_INSTALL_BASE)/ps
else
RLEVEL=..
WWW_INSTALL=$(DOC_INSTALL_BASE)/html/$(DISTRIBUTION_LEVEL)
INFO_INSTALL=$(DOC_INSTALL_BASE)/info/$(DISTRIBUTION_LEVEL)
PS_INSTALL=$(DOC_INSTALL_BASE)/ps/$(DISTRIBUTION_LEVEL)
endif

#TEXI2WWW_ARGS=-dirfile $(WWW_INSTALL)/index.html \
#          -header $(WWW_INSTALL)/rtems_header.html \
#          -footer $(WWW_INSTALL)/rtems_footer.html
TEXI2WWW_ARGS=-dirfile ../$(RLEVEL)index.html \
          -header $(WWW_INSTALL)/$(RLEVEL)rtems_header.html \
          -footer $(WWW_INSTALL)/$(RLEVEL)rtems_footer.html

define make-dirs
	@ if [ ! -d $(WWW_INSTALL) ] ; then \
	    mkdir -p $(WWW_INSTALL); \
	  fi
	@ if [ ! -d $(INFO_INSTALL) ] ; then \
	    mkdir -p $(INFO_INSTALL); \
	  fi
	@ if [ ! -d $(PS_INSTALL) ] ; then \
	    mkdir -p $(PS_INSTALL); \
	  fi
endef

