#
#  Config file for MPC860 based Ethernet Comm Board
#
#  $Id$
#

include $(RTEMS_ROOT)/make/custom/default.cfg

RTEMS_CPU=powerpc
RTEMS_CPU_MODEL=mpc8xx
CPU_TYPE=860

# This is the actual bsp directory used during the build process.
RTEMS_BSP_FAMILY=eth_comm
RTEMS_PPC_EXCEPTION_PROCESSING_MODEL=new

#  This section makes the target dependent options file.

#  PPC_VECTOR_FILE_BASE (PowerPC)
#     This defines the base address of the exception table.
#     NOTE: Vectors are actually at 0xFFF00000 but file starts at offset 0x0100
#       
#  PPC_ABI (PowerPC)
#     This defines the calling convention (Application Binary Interface)
#     used in this configuration.  EABI is the only one supported.
#     This BSP was initially developed using the PowerOpen ABI.
#
#  PPC_ASM (PowerPC)
#     This defines the assembly language format used in this configuration.
#     ELF is the only one supported.
#

define make-target-options
	@echo "#ifdef mpc$(CPU_TYPE)"                       >>$@
	@echo "#undef mpc$(CPU_TYPE)"                       >>$@
	@echo "#endif"                                      >>$@
	@echo "#define mpc$(CPU_TYPE) 1"                    >>$@
	@echo                                               >>$@
	@echo "#define PPC_VECTOR_FILE_BASE 0x0000"         >>$@
	@echo "#define PPC_ABI PPC_ABI_EABI"                >>$@
	@echo "#define PPC_ASM PPC_ASM_ELF"                 >>$@
	@echo "#define PPC_USE_SPRG 1"                      >>$@
endef

#  This contains the compiler options necessary to select the CPU model
#  and (hopefully) optimize for it. 
#
CPU_CFLAGS = -mcpu=$(CPU_TYPE)

# optimize flag: typically -0, could use -O4 or -fast
# -O4 is ok for RTEMS
# NOTE: some level of -O may be actually required by inline assembler
CFLAGS_OPTIMIZE_V=-O4 -fno-keep-inline-functions

# The following are definitions of make-exe which will work using ld as
# is currently required.  It is expected that as of gcc 2.8, the end user
# will be able to override parts of the compilers specs and link using gcc.

ifeq ($(RTEMS_USE_GCC272),yes)
# The --defsym arguments define arguments which are required by the linkcmds
# file which is designed for gcc 2.8
define make-exe
	$(LD) $(XLDFLAGS) -T $(LINKCMDS) \
	    --defsym __fini=0 --defsym __init=0 \
	    -o $@ -u atexit -u __vectors -u download_entry \
	    $(START_FILE) $(LINK_OBJS) --start-group $(LINK_LIBS) --end-group
	$(NM) -g -n $@ > $(basename $@).num
	$(SIZE) $@
endef
else
define make-exe
	$(LINK.c) $(AM_CFLAGS) $(AM_LDFLAGS) -o $(basename $@).exe \
	    $(LINK_OBJS) $(LINK_LIBS)
	$(NM) -g -n $@ > $(basename $@).num
	$(SIZE) $@
endef
endif

# Miscellaneous additions go here

