#
#  Config file for the FreeBSD 2.x based RTEMS UNIX 

RTEMS_CPU=unix
RTEMS_CPU_FAMILY=i386
RTEMS_CPU_MODEL=i486dx
RTEMS_UNIX_FLAVOR=freebsd

# This is the actual bsp directory used during the build process.
RTEMS_BSP_FAMILY=posix

include $(RTEMS_ROOT)/make/custom/default.cfg

# optimize flag: typically -O2
CFLAGS_OPTIMIZE_V = -O2 -g
