#
#  Config file for the FreeBSD 2.x based RTEMS UNIX 
#
#

RTEMS_CPU=unix
RTEMS_CPU_FAMILY=i386
RTEMS_CPU_MODEL=i486dx
RTEMS_UNIX_FLAVOR=freebsd

# This is the actual bsp directory used during the build process.
RTEMS_BSP_FAMILY=posix
TARGET_ARCH=o-freebsd2

include $(RTEMS_ROOT)/make/custom/default.cfg

# DO NOT Use the LIBC support for CYGNUS newlib
RTEMS_USE_NEWLIB=no

# RTEMS_LIBC_DIR must already be set (by configuration) DOES NOT MATTER
LIBC_DEFINES =-D_POSIX_C_SOURCE
LIBC_DEFINES+=-DRTEMS_UNIXLIB -DRTEMS_UNIX -DMALLOC_PROVIDED -DRTEMS_DEBUG

# The following define the memory reserved in the executable for the
# RTEMS Workspace and the C Program Heap.
LIBC_DEFINES += -DWORKSPACE_MB=2
LIBC_DEFINES += -DHEAPSPACE_MB=1


# Define this to yes if C++ is included in the development environment
# This requires that at least the GNU C++ compiler and libg++ be installed.
ifeq ($(RTEMS_HAS_CPLUSPLUS),yes)
HAS_CPLUSPLUS=yes
CPLUS_LD_LIBS += $(PROJECT_RELEASE)/lib/librtems++$(LIBSUFFIX_VA)
endif

# Define this to yes if this target supports multiprocessor environments.
HAS_MP=yes

# This target does NOT support the TCP/IP stack so ignore requests
# to enable it.
HAS_NETWORKING=no

# This target does NOT support the POSIX API.
HAS_POSIX_API=no

# optimize flag: typically -0, could use -O4 or -fast
# -O4 is ok for RTEMS
CFLAGS_OPTIMIZE_V = -O2

#  This section makes the target dependent options file.

#  NDEBUG (C library)
#     if defined asserts do not generate code.  This is commonly used
#     as a command line option.
#
#  RTEMS_TEST_NO_PAUSE (RTEMS tests)
#     do not pause between screens of output in the rtems tests
#
#  NO_TABLE_MOVE (SPARC PORT)
#     do not have a second trap table -- use the BSP's
#
#  RTEMS_DEBUG (RTEMS)
#     If defined, debug checks in RTEMS and support library code are enabled.
#     
#  RTEMS_UNIX (unix)
#     Define this to indicate this is an RTEMS UNIX port.

define make-target-options
	echo "/* #define NDEBUG 1 */ "                     >>$@
	echo "#define RTEMS_TEST_NO_PAUSE 1"               >>$@
	echo "/* #define RTEMS_DEBUG  1 */"                >>$@
	echo "#define RTEMS_UNIX 1 "                       >>$@
endef

define make-exe
	$(CC) $(CFLAGS) -o $@ $(LINK_OBJS) $(LINK_LIBS)
	$(NM) -ng $@ > $(basename $@).num
	$(SIZE) $@
endef


# *****************************************************************
# Miscellaneous additions go here
