#
#  Shared base config file for GEN83xx BSPs
#
#  $Id$
#

include $(RTEMS_ROOT)/make/custom/default.cfg
#
# FIXME: we might want to use the e300 CPU model explicitely,
# using RTEMS_CPU_MODEL=e300 and -me300
# but I doubt the compiler actually generates different code
#
RTEMS_CPU=powerpc
RTEMS_CPU_MODEL=mpc83xx

# This is the actual bsp directory used during the build process.
RTEMS_BSP_FAMILY=gen83xx

#  This contains the compiler options necessary to select the CPU model
#  and (hopefully) optimize for it. 
#
CPU_CFLAGS = -mcpu=603e -mstrict-align -fno-strict-aliasing\
             -D$(RTEMS_BOARD_MODEL) -D$(RTEMS_83XX_DERIVATE)

# optimize flag: typically -O2
CFLAGS_OPTIMIZE_V = -O4 -g -fno-keep-inline-functions

# The following are definitions of make-exe which will work using ld as
# is currently required.

define make-exe
	$(LINK.c) $(AM_CFLAGS) $(AM_LDFLAGS) \
        -qnolinkcmds -T $(RTEMS_LINKCMDS) -o $(basename $@).exe \
	    $(LINK_OBJS) $(LINK_LIBS)
	$(NM) -g -n $(basename $@).exe > $(basename $@).num
	$(SIZE) $(basename $@).exe
endef

# Miscellaneous additions go here
