#
#  Config file for customer specific MPC8349 board
#
#  $Id$
#

#
#  All GEN83xx configurations share the same base file, only a few
#  parameters differ.
#  

RTEMS_LINKCMDS=linkcmds.hsc_cm01

include $(RTEMS_ROOT)/make/custom/gen83xx.cfg
