#
#  Config file for Embedded Planets EP5200C
#
#  NOTE: This is the same as the Freescale 5200Lite a.k.a. IceCube
#
#  $Id$
#

#
#  All GEN5200 configurations share the same base file, only a few
#  parameters differ.
#  

RTEMS_BOARD_MODEL=ep5200
RTEMS_LINKCMDS=linkcmds.ep5200

include $(RTEMS_ROOT)/make/custom/gen5200.cfg
