#
#  Custom file for "portsw" -- AMD 29205 based board
#
#  $Id$
#

# Note: This file is broken for sure

include $(RTEMS_ROOT)/make/custom/default.cfg

RTEMS_CPU=a29k
RTEMS_CPU_MODEL=a29205

# This is the actual bsp directory used during the build process.
RTEMS_BSP_FAMILY=portsw

define make-exe
	$(LINK.c) -Wl,-Map,$(basename $@).map \
	    $(LDLIBS) -o $@ \
	    $(LINK_OBJS) $(LINK_LIBS)
	$(NM) -n $@ > $(basename $@).num
	$(SIZE) $@
endef

# Miscellaneous additions go here
