#
#  Config file for the Solaris based RTEMS UNIX 
#
#  $Id$
#

RTEMS_CPU=unix
RTEMS_CPU_FAMILY=sparc
RTEMS_CPU_MODEL=sparc_v8
RTEMS_UNIX_FLAVOR=solaris

# This is the actual bsp directory used during the build process.
RTEMS_BSP_FAMILY=posix

include $(RTEMS_ROOT)/make/custom/default.cfg

#  This contains the compiler options necessary to select the CPU model
#  and (hopefully) optimize for it.
CPU_CFLAGS += -Dsolaris2 -D__EXTENSIONS__

# optimize flag: typically -O2
CFLAGS_OPTIMIZE_V = -O2 -g
