#
#  Config file for Freescale 5200Lite a.k.a. IceCube
#
#  NOTE: This is the same as the Embedded Planets EP5200C and
#        possibly other MPC5200 boards.

#
#  All GEN5200 configurations share the same base file, only a few
#  parameters differ.
#  

include $(RTEMS_ROOT)/make/custom/gen5200.inc
