#
#  Config file for the Niagara SPARC64 processor.
#
include $(RTEMS_ROOT)/make/custom/default.cfg

RTEMS_CPU=sparc64

#  This contains the compiler options necessary to select the CPU model
#  and (hopefully) optimize for it.
CPU_CFLAGS = -mcpu=niagara

# optimize flag: typically -g -O2
CFLAGS_OPTIMIZE_V = -g -O2
CFLAGS_OPTIMIZE_V += -ffunction-sections -fdata-sections

LDFLAGS = -Wl,--gc-sections
