# make/lib.cfg
#
#   Make(1) configuration file include'd by all "library" Makefile
#   Assumes $(LIB) is set to $(ARCH)/libfoo.a
#

include $(PROJECT_ROOT)/make/leaf.cfg

define make-library
$(RM) $@
$(AR) $(ARFLAGS) $@ $(OBJS)
$(RANLIB) $@
endef

.PRECIOUS: $(LIB)
