#
#  Configuration file for a PC using a Pentium Class CPU
#

#  Note:      We give the -mtune=pentium option here only so that at least the
#             variant optimized for pentium (w/o using any pentium-specific
#             features) is used (assuming you use the vanilla RTEMS multilibs).
#  
#  And: The only sse-related feature the RTEMS support really needs is
#             fxsave/fxrstor. You can build with -msse, -msse2 or -msse3,
#             depending on your CPU.
#             There are run-time checks resulting in a 'panic' if code
#             compiled for e.g. -msse3 is executed on a CPU that only
#             supports sse2, though.
CPU_CFLAGS = -mtune=pentium4 -march=pentium4 -msse3

include $(RTEMS_ROOT)/make/custom/pc386.cfg
